<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="db" connectionString="Server=.\SQLEXPRESS;Database=BookstoreTest;Trusted_Connection=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBooks" />
        <binding name="BasicHttpBinding_IBooks1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:54585/Books.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IBooks" contract="Books.IBooks"
        name="BasicHttpBinding_IBooks" />
    </client>
  </system.serviceModel>
</configuration>